{% extends "base.njk" %}

{% block main %}
	{{ content | safe }}
	{% if music.length > 0 %}
	<h2>Related music</h2>
	<p class="apple-music-embed" data-id="{{ music }}">Enable JavaScript and allow embed scripts to view embed. <button type="button" id="allowEmbed">Allow Embed</button></p>
	{% endif %}
	<h2>Backlinks</h2>
	{% if backlinks.length > 0 %}
		<ul class="backlinks-container">
			{% for backlink in backlinks %}
				<li class="backlink">
					<h3><a href="{{ backlink.url }}" class="backlink__link">{{ backlink.title }}</a></h3>
					<blockquote>{{ backlink.preview | renderMarkdownLinks | safe }}</blockquote>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No backlinks found.</p>
	{% endif %}
{% endblock %}