{% extends "base.njk" %}

{% block main %}
	{{ content | safe }}
	<h2>Backlinks</h2>
	{% if backlinks.length > 0 %}
		<ul class="backlinks-container">
			{% for link in backlinks %}
				<li class="backlink">
					<a href="{{ link.url }}" class="backlink__link">{{ link.title }}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No backlinks found.</p>
	{% endif %}
{% endblock %}