{% extends "base.njk" %}

{% block main %}
	{{ content | safe }}
	<h2>Backlinks</h2>
	{% if backlinks.length > 0 %}
		<ul class="backlinks-container">
			{% for backlink in backlinks %}
				<li class="backlink">
					<h3><a href="{{ backlink.url }}" class="backlink__link">{{ backlink.title }}</a></h3>
					<blockquote>{{ backlink.preview | renderMarkdownLinks | safe }}</blockquote>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No backlinks found.</p>
	{% endif %}
{% endblock %}