<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/style.css">
	<title>{{ title if title === 'Chris Stone' else title + ' - Chris Stone' }}</title>
	{% block meta %}
		<meta name="description" property="og:description" content="{{ description }}">
		<meta property="og:title" content="{{ title if title === 'Chris Stone' else title + ' - Chris Stone' }}">
		<meta property="og:url" content="https://chrisstone.dev{{ page.url }}">
		<meta property="og:type" content="article">
		<meta name="author" content="Chris Stone">
	{% endblock %}
</head>
<body>
<header>
	<a href="#main" class="skip-to-main-content-link">Skip to main content</a>
	<nav>
		<ul>
			<li class="{{ 'nav-link-active' if page.url === '/' }}"><a href="/">Chris Stone</a></li>
			<li class="{{ 'nav-link-active' if '/thoughts' in page.url or tags[0] === 'thoughts' }}">
				<a href="/thoughts">Thoughts</a>
			</li>
			<li class="{{ 'nav-link-active' if '/speaking' in page.url or tags[0] === 'speaking' }}">
				<a href="/speaking">Speaking</a>
			</li>
			<li class="{{ 'nav-link-active' if '/projects' in page.url or tags[0] === 'projects' }}">
				<a href="/projects">Projects</a>
			</li>
			<li class="{{ 'nav-link-active' if '/contact' in page.url }}"><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</header>
<main id="main">
	<article>
		<h1>{{ title }}</h1>
		{% block main %}
			{{ content | safe }}
		{% endblock %}
	</article>
	<footer>
		<p>2023 Chris Stone. Views expressed on this website are my own and are not necessarily shared by any other
			entity. All content on this site is written and designed by myself without the use of any generative
			tools.</p>
	</footer>
</main>
</body>
</html>