<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/" id="nav-link-home">Chris Stone</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/speaking">Speaking</a></li>
            <li><a href="/development">Development</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>{{ title }}</h1>
    {% block main %}
        {{ content | safe }}
    {% endblock %}
</main>
<footer>
    <p>2023 Chris Stone. Views expressed on this website are my own and are not necessarily shared by any other
        entity.</p>
</footer>
</body>
</html>