{% extends "base.njk" %}

{% block main %}
	{{ content | safe }}
	<h2>Most recently updated</h2>
	<ul>
		{%- for post in collections.notes | reverse | slice(3) | first -%}
			<li>
				<a href="{{ post.url }}">{{ post.data.title }}</a> ({{ post.data.date | htmlDate | safe }})
				<blockquote>{{ post.content | preview | safe }}</blockquote>
			</li>
		{%- endfor -%}
	</ul>
	<h2>Full list</h2>
	<table>
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Date published</th>
		</tr>
		{%- for post in collections.notes | sort(false, false, "data.title") -%}
			<tr>
				<td><a href="{{ post.url }}">{{ post.data.title }}</a></td>
				<td>{{ post.data.date | htmlDate | safe }}</td>
			</tr>
		{%- endfor -%}
	</table>
{% endblock %}