{% extends "base.njk" %}

{% block main %}
	{{ content | safe }}
	{%- for post in collections.speaking | sort(true, false, "data.last-presented") -%}
		<h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
		{% if post.data.conferences %}
			<ul>
				{%- for conference in post.data.conferences -%}
					<li>
						{{ conference }}
					</li>
				{%- endfor -%}
			</ul>
		{% endif %}
	{%- endfor -%}
{% endblock %}