{% extends "base.njk" %}

{% block main %}
	{{ content | safe }}
	<hr>
	<p class="backlinks-title larger">Backlinks</p>
	{% if backlinks.length > 0 %}
		<ul class="backlinks-container">
			{% for link in backlinks %}
				<li class="backlink">
					<a href="{{ link.url }}" class="backlink__link">{{ link.title }}</a>
					<div class="backlink-preview" role="none">
						<h3>{{ link.title }}</h3>
						{{ link.preview | renderMarkdownLinks | safe }}
					</div>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p class="backlinks-default">No backlinks found.</p>
	{% endif %}
{% endblock %}