body {
    background: #ddf;
    color: #003;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    position: fixed;
}

header {
    background: #cce;
    padding: 1em;
    top: 0;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

footer {
    background: #cce;
    padding: 1em;
}

footer p {
    margin: 0;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    row-gap: 8px;
}

main {
    display: flex;
    flex-direction: column;
}

article {
    flex-grow: 1;
    padding: 1em;
}

a, a:visited {
    color: #00f;
}

a:active {
    color: #55f;
}

h1 {
    margin-block-start: 0;
}

#nav-link-home {
    font-weight: 700;
}